@model WebAppEmployeeDb.Data.Models.Employee

<form asp-action="EmployeeDetails">
    <br />
    <div class="container border p-3">
        <h1 class=text-black>Details</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Birthday" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Birthday" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="JobTitle" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="JobTitle" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Subdivision" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Subdivision" disabled class="form-control" />
            </div>

            <div class="col-10 offset-2">
                <a asp-action="EmployeeIndex" class="btn-dark btn form-control">Back to list</a>
            </div>
        </div>
    </div>
</form>